* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    width: 100%;
}

        /* Custom scrollbar styling */
        ::-webkit-scrollbar {
            width: 12px; /* Width of the scrollbar */
        }
        ::-webkit-scrollbar-track {
            background: #1f1f1f; /* Background of the scrollbar track */
        }
        ::-webkit-scrollbar-thumb {
            background: #575757; /* Color of the scrollbar handle */
            border-radius: 6px; /* Rounded corners of the scrollbar handle */
            min-height: 20px; /* Minimum height of the scrollbar handle */
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #777777; /* Color when hovering over the scrollbar handle */
        }

.allcontainer {
    display: flex;
    gap: 10px;
    margin: 10px 10px 0px 10px;
    position: relative;
    height: 100vh;
}

#left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100vh;
    width: 25vw;
    margin: 10px;
    /* position: absolute; */
}

#crossimg{
    display: none;
    margin: auto auto auto 70px;
    height: 20px;
    width: 20px;
}

.leftli li {
    margin-top: 15px;
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    /* justify-content: center; */
}

#lisearch {
    color: gray;
    font-size: 17px;
    transition: font-size 0.3s ease-in-out, font-color 0.3s ease-in-out;
}
#lisearch:hover {
    color: white;
    font-size: 20px;
}
.leftli a {
    text-decoration: none;
    color: white;
}

.leftli img {
    min-width: 15px;
    height: 24px;
    width: 24px;
}

.first {
    padding: 14px;
    height: 20vh;
}

.leftelem {
    margin: 10px;
}

.secound {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 72vh;
}

.secound button {
    margin: 5px;
    height: 40px;
    width: 150px;
    background-color: transparent;
    border: 0cap;
    display: flex;
    align-items: center;
}

.buttoninsec{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px;
}

#img2 img {
    height: 15px;
    width: 15px;
}

.buttoninsec img {
    height: 24px;
    width: 24px;
}

.buttoninsec a {
    text-decoration: none;
    color: white;
}

.restsec a {
    text-decoration: none;
    color: gray;
}



#alibrary{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.limcon{
    background-color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 96%;
    margin: 6px;
    color: white;
    cursor: pointer;
}
#licon{
    font-size: 12px;
    height: 300px;
    display: flex;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
.sbanner img{
    height: 20px;
    width: 20px;
    margin: 8px;
    cursor: pointer;
}
.sbanner button{
    height: 20px;
    width: 20px;
}
.sbanner button svg{
    height: 20px;
    width: 20px;
}



.restsec {
    /* position: absolute; */
    /* bottom: 0%; */
    font-size: 12px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 15px;
}

.btn2 {
    /* display: block; */
    width: 20vw;
    /* display: block; */
}

.btn2 button {
    font-size: 15px;
    margin: 0px;
    height: 35px;
    width: 100px;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 20px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.btn2 img {
    height: 20px;
    width: 20px;
}

.btn2 a {
    text-decoration: none;
    color: white;
}










#right {
    height: 85vh;
    width: 75vw;
}

.nav {
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px; 
    height: 5vh;
    width: 73vw;
    padding: 16px;
    position: sticky;
    top: 0px;
    background-color: rgb(16 16 16);
}
.threeline{
    display: none;
    /* margin: 500px; */
}
.iconcont {
    display: flex;
    /* z-index: 9; */
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.icons svg {
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.buttons {
    display: flex;
    align-items: center;
}

.rbtn1{
    border: 0cap;
    background-color: transparent;
    color: gray;
    font-size: 15px;
    padding: 15px;
    cursor: pointer;
    /* transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out; */
    transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;
}

.rbtn1:hover{
    color: white;
    font-size: 17px;
}

.rbtn2{
    border: 0cap;
    font-size: 15px;
    padding: 15px;
    border-radius: 25px;
    width: 100px;
    font-weight: bold;
    cursor: pointer;
    transition: font-weight 0.3s ease-in-out, font-size 0.3s ease-in-out, padding 0.3s ease-in-out;
}
.rbtn2:hover{
    font-weight: bolder;
    font-size: 17px;
    padding: 17px;
}

.maincont {
    height: 75vh;
    background-color: rgb(27 27 27);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
}
.topri{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    margin: 50px 10px 0px 10px;
    width: 73vw;
}
.topri a{
    text-decoration: none;
    color: white;
}
#topri1a a{
    font-size: 20px;
    font-weight: 1000;
}
.acards{
    margin: 15px;
    display: flex;
    height: 225px;
    gap: 15px;
    width: 73vw;
    overflow-x: auto;
    overflow-y: hidden;
    flex-shrink: 0;
}
.acards::-webkit-scrollbar{
    display: none;
}
.acardcontainer{
    cursor: pointer;
    height: 200px;
    width: 150px;
}
.acardcontainer:hover{
    .green-button{
        background-color: rgb(13, 233, 13);
        border: none;
        padding: 15px;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        bottom: 9px;
        right: 0px;
        opacity: 1;
    }
    
}
.green-button{
    background-color: rgb(13, 233, 13);
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    right: 0px;
    opacity: 0;
    transition:  bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.green-button svg {
    width: 15px;
    height: 15px;
}

.green-button .st0,
.green-button path {
    fill: #1e1e1e;
}


.acardcontainer img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.acardcontainer a{
    text-decoration: none;
    color: white;
}
#artistsi{
    color: gray;
}


.pcards{
    margin: 15px;
    display: flex;
    height: 225px;
    gap: 15px;
    width: 73vw;
    overflow-x: auto;
    overflow-y: hidden;
    flex-shrink: 0;
}
.pcards::-webkit-scrollbar{
    display: none;
}
.pcardcontainer{
    cursor: pointer;
    height: 200px;
    width: 150px;
}
.pcardcontainer:hover{
    .green-button{
        background-color: rgb(13, 233, 13);
        border: none;
        padding: 15px;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        bottom: 9px;
        right: 0px;
        opacity: 1;
    }
    
}
.green-button{
    background-color: rgb(13, 233, 13);
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    bottom: -5px;
    right: 0px;
    opacity: 0;
    transition:  bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.green-button svg {
    width: 15px;
    height: 15px;
}

.green-button .st0,
.green-button path {
    fill: #1e1e1e;
}


.pcardcontainer img{
    height: 150px;
    width: 150px;
}
.pcardcontainer a{
    text-decoration: none;
    color: white;
}
#artistsi{
    color: gray;
}






.playbar{
    background-color: #1e1e1e;
    margin: 5px 0px 0px 0px;
    position: relative;
    font-size: 15px;
    /* height: 200px; */
}
#songinfo{
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
#seekcont{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}
.seekbar{
    height: 0.8px;
    width: 98%;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    position: absolute;
    cursor: pointer;
}
#circle{
    height: 12px;
    width: 12px;
    border: 2px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    bottom: 6px;
    left: 0%;
    cursor: pointer;
    transition: left 0.3s;
}
.playbar button img{
    height: 30px;
    width: 30px;
}
.playbar button{
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 0px;
    margin: 2px;
}
#playbarbtns{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}