.bgcolorcards{
    background-color:#121212;
}
.marginauto{
    margin: auto;
}
.invertimg{
    filter: invert();
}
.flexcen{
    display: flex;
    justify-content: center;
    align-items: center;
}
.posre{
    position: relative;
}